spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://127.0.0.1:3306/controlai}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    locations: classpath:db/migration
    clean-disabled: false
    baseline-on-migrate: true

logging:
  level:
    org.flywaydb: DEBUG
    org.springframework.jdbc: DEBUG

